<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>

</head>
<body>
<h2>Cntribute Company</h2>
<ul>
  <% @links.each do |link|  %>
    <li>
      <%= link %><br><br>
      <%= @img[link] %>
    </li>

<% end %>
</ul>
<input type="text" class="date">
  <input type="button" value="APIを返すyo" class="api">
<script src="main.js"></script>
</body>
</html>